@model ML.Ticket
@{
    ViewData["Title"] = "GetAllTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de tickets</h1>


<table class="table table-hover table-dark table-striped table-bordered table-responsive" id="tblTablaTicket">
    <thead>
        <tr class="table-secondary">
            <td style="text-align:center">Actualizar </td>
            <td style="text-align:center">Asigando a</td>          
            <td style="text-align:center">Comentarios</td>
            <td style="text-align:center">Fecha de asignacion </td>
            <td style="text-align:center">Area</td>
            <td style="text-align:center">Status</td>
            <td style="text-align:center">Cerrado por</td>
            <td style="text-align:center">Descripcion</td>
             
        </tr>
    </thead>

    <tbody>
        @foreach (ML.Ticket ticket in Model.Tickets)
        {
            <tr>
                <td class="text-center"><a class="btn btn-success bi bi-pencil-fill" href="@Url.Action("FormTicket", "Ticket", new { IdTicket  = ticket.IdTicket})"></a></td>
                <td style="text-align:center">@ticket.Asignado </td>
              
                <td style="text-align:center">@ticket.Comentarios</td>
                <td style="text-align:center">@ticket.FechaAsignacion</td>
                <td style="text-align:center">@ticket.Area.NombreArea</td>
                @if (ticket.Status)
                {
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked onchange="ChangeStatus(@ticket.IdTicket, this)">

                        </div>
                    </td>

                }
                else

                {
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onchange="ChangeStatus(@ticket.IdTicket, this)">

                        </div>
                    </td>
                }
                <td style="text-align:center">@ticket.Cerrado </td>
                 <td style="text-align:center">@ticket.Error.DescripcionE</td>

                
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.material.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblTablaTicket').DataTable({
                searching: true,
                "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
                autoWidth: false,
                columnDefs: [
                    {
                        targets: ['_all'],
                        className: 'mdc-data-table__cell',
                    },
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                },
            });
        });

    </script>
        }
