@model ML.Error
@{
    ViewData["Title"] = "GetAllError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Errores</h1>

       @using (Html.BeginForm("FormTicket", "Ticket", FormMethod.Get, new { enctype = "multipart/form-data" }))

{
      <input type="submit" value="Agregar ticket" class="btn btn-success" />

}


<div class="row">
    @if (Model.Errores != null)
    {
        //tabla
        <table class="table  table-bordered table-responsive table-hover" id="tblError">
            <thead>
                <tr>


                    <td class="text-center" style=" font-weight:bold;">Actualizar</td>
                    <td class="text-center" style=" font-weight:bold;">Descripcion</td>
                    <td class="text-center" style=" font-weight:bold;">Paso1</td>

                    <td class="text-center" style=" font-weight:bold;">Paso2</td>
                    <td class="text-center" style=" font-weight:bold;">Paso3</td>
                    <td class="text-center" style=" font-weight:bold;">Area</td>


                    <td class="text-center" style=" font-weight:bold;">DELETE</td>

                </tr>

            </thead>

            <tbody>
                @foreach (ML.Error error in Model.Errores)
                {
                    <tr>

                        <td class="text-center"><a class="btn btn-success glyphicon " href="@Url.Action("Form", "Error", new { IdError  = error.IdError})"></a></td>
                        <td>@error.DescripcionE </td>
                        <td>@error.Paso1</td>
                        <td>@error.Paso2</td>
                        <td>@error.Paso3</td>
                        <td>@error.Area.NombreArea</td>

                        <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Error", new { IdError  = error.IdError})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger" role="alert">Ocurrio un error al realizar la consulta </div>
    }

</div>


